{{ define "main" }}
  <div class="home-container">
    <section class="home-content">
      {{ .Content }}
    </section>

    <section class="home-latest">
      <h3>Recent updates</h3>
      <ul>
      {{ range first 1 (where .Site.RegularPages "Type" "in" "snippets").ByDate.Reverse }}
        <li>Latest code snippet: <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      {{ range first 1 (where .Site.RegularPages "Type" "in" "quickref").ByDate.Reverse }}
        <li>Latest quickref: <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
    </div>
  </section>

{{ end }}
