{{ define "main" }}

  <h2>{{ .Title }}</h2>

  {{ .Content }}

  <section class="quickrefs">
    {{ $layer2 := .Site.Taxonomies.categories.layer2 }}
    <h3>Layer 2</h3>
    {{ range ($layer2.Pages.ByTitle) }}
    <section class="quickref">
      <li class="quickref"><a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ .Summary }}</li>
    </section>
    {{ end }}

    {{ $indexers := .Site.Taxonomies.categories.indexers }}
    <h3>Indexers</h3>
    {{ range ($indexers.Pages.ByTitle) }}
    <section class="quickref">
      <li class="quickref"><a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ .Summary }}</li>
    </section>
    {{ end }}

    {{ $utilities := .Site.Taxonomies.categories.utilities }}
    <h3>Utilities</h3>
    {{ range ($utilities.Pages.ByTitle) }}
    <section class="quickref">
      <li class="quickref"><a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ .Summary }}</li>
    </section>
    {{ end }}

    {{ $documentation := .Site.Taxonomies.categories.documentation }}
    <h3>Documentation</h3>
    {{ range ($documentation.Pages.ByTitle) }}
    <section class="quickref">
      <li class="quickref"><a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ .Summary }}</li>
    </section>
    {{ end }}

  </section>

{{ end }}
