{{ define "main" }}
  <div class="quickref-container">
    <section class="quickref-list">
      <h2>QuickRefs</h2>
      <ul>
        {{ range (where .Site.RegularPages "Type" "in" "quickref") }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>

    <section class="quickref">
      <h2>{{ .Title }}</h2>
      <span class="category">
        {{ range .Params.categories }}
          <a class="category" href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
      <span class="tags">
        {{ range .Params.tags }}
          <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a> 
        {{ end }}
      </span>

      {{ .Content }}

    </section>
  </div>
{{ end }}
